<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createQuiz</servlet-name>
        <servlet-class>createQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveQuizData</servlet-name>
        <servlet-class>saveQuizData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuQuiz</servlet-name>
        <servlet-class>stuQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attemptQuiz</servlet-name>
        <servlet-class>attemptQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quizResult</servlet-name>
        <servlet-class>quizResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getQuestions</servlet-name>
        <servlet-class>getQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>qlist</servlet-name>
        <servlet-class>qlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answerQu</servlet-name>
        <servlet-class>answerQu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postans</servlet-name>
        <servlet-class>postans</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createQuiz</servlet-name>
        <url-pattern>/createQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveQuizData</servlet-name>
        <url-pattern>/saveQuizData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuQuiz</servlet-name>
        <url-pattern>/stuQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attemptQuiz</servlet-name>
        <url-pattern>/attemptQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quizResult</servlet-name>
        <url-pattern>/quizResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getQuestions</servlet-name>
        <url-pattern>/getQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>qlist</servlet-name>
        <url-pattern>/qlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answerQu</servlet-name>
        <url-pattern>/answerQu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postans</servlet-name>
        <url-pattern>/postans</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
